{% extends 'base.html' %}

{% block content %}
<h1>
  Main Page
</h1>

<div>
<table style = "height: 400px;" class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Application ID</th>
        <th scope="col">Job Title</th>
        <th scope="col">Company Name</th>
        <th scope="col">Application Date</th>
        <th scope="col">Edit Status</th>
        <th scope="col">Interview Status</th>
        <th scope="col">Application Result</th>
      
      </tr>
    </thead>

    <tbody>
      <tr>
        {% if record %}
          {% for job in record %}
            <td>{{job.application_id}}</td>
            <td>{{job.job_title}}</td>
            <td>{{job.company_name}}</td>
            <td>{{job.application_date}}</td>
            <td>
            {% comment %} update_record takes an additional argument  {% endcomment %}
              <a href = "{% url 'update_record' target_job_id=job.pk %}">
              Edit Status 
              </a>
            </td>
            <td>
              {% if job.interview_status == 0 %}
                No interview
              {% else %} 
                Interviewed 
              {% endif %}
            </td>
            <td>
              {% if job.application_result == 1 %}
                Successful
              {% else %}
                Unsuccessful
              {% endif %}
            </td>
           </tr>
          {% endfor %}
         {% endif %}
      
    </tbody>
  </table>

</div>

<div style="height: 160px;" class="pagination justify-content-center">
 
        <span class="step-links">
            {% if record.has_previous %}
                <a class = "btn btn-primary" href="?page=1">&laquo; first</a>
                <a class = "btn btn-dark" href="?page={{ record.previous_page_number }}">previous</a>
            {% endif %}
    
            <span class="current">
                Page {{ record.number }} of {{ record.paginator.num_pages }}.
            </span>
    
            {% if record.has_next %}
                <a class = "btn btn-dark" href="?page={{ record.next_page_number }}">next</a>
                <a class = "btn btn-primary" href="?page={{ record.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
      
</div>

{% endblock %}